{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Edition du profil{% endblock %}

{% block body %}

    <h1>Edition du profil :</h1>

    {% if (errors) %}
        {% for error in errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}

    {{ form_start(formulaire, {attr: {class: 'profile-form'} }) }}
    {{ form_widget(formulaire) }}
    {{ form_end(formulaire) }}

{% endblock %}