{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Évènement{% endblock %}

{% block body %}

    {% if event.isCreator(app.user) or is_granted('ROLE_ADMIN') %}
        <a href="{{ path("page_edit_evenement", {id : event.id }) }}"> modifier </a>
        <a href="{{ path("suppression_evenement", {id : event.id }) }}"> supprimer </a>
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if event.isParticipating(app.user) %}
            <a href="{{ path("remove_participation", {id : event.id }) }}"> annuler la participation </a>
        {% else %}
            <a href="{{ path("add_participation", {id : event.id }) }}"> participer </a>
        {% endif %}
    {% endif %}

    <h1>Évènement :</h1>
    Nom : {{ event.name }}<br/>
    Lieu : {{ event.place }}<br/>
    Du : {{ event.dateDebut|date("Y-m-d H:i") }}<br/>
    Au : {{ event.dateFin|date("Y-m-d H:i") }}<br/>
    Description : {{ event.description }}<br/>
    Créé par : <a href="{{ path("page_profil", {username : creator.username }) }}">{{ creator.username }}</a><br/>

    <h1>Labels :</h1>
    {% for label in labels %}
        {% include 'eventsModules/label.html.twig' with {label: label} %}
    {% endfor %}

    <h1>Participants :</h1>
    {% for participant in participants %}
        {% include 'eventsModules/participant.html.twig' with {participant: participant} %}
    {% endfor %}

    <h1>Ajouter un commentaire :</h1>
    {{ form_start(commentForm, {attr: {class: 'comment-form'} }) }}
    {{ form_widget(commentForm) }}
    {{ form_end(commentForm) }}
    {#{{ dump(commentForm) }}#}

    <h1>Commentaires :</h1>
    {% for comment in comments %}
        {% include 'eventsModules/comment.html.twig' with {comment: comment, event: event} %}
    {% endfor %}

{% endblock %}