<!DOCTYPE html>
<html>
<body>
<pre>
    <h1>Évènement :</h1>
    {{ event.id }}
    {{ event.name }}
    {{ event.place }}
    {{ event.date|date("Y-m-d") }}
    {{ event.description }}

    <h1>Créateur :</h1>
    {{ creator.username }}

    <h1>Participants :</h1>
    {% for participant in participants %}
        {{ participant.username }}<br/>
    {% endfor %}
    </pre>
</body>
</html>