{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Évènement{% endblock %}

{% block body %}
    <h1>Évènement :</h1>
    {{ event.id }}
    {{ event.name }}
    {{ event.place }}
    {{ event.date|date("Y-m-d") }}
    {{ event.description }}

    <h1>Créateur :</h1>
    <a href="{{ path("page_profil", {id : creator.id }) }}">{{ creator.username }}</a><br/>

    <h1>Participants :</h1>
    {% for participant in participants %}
        <a href="{{ path("page_profil", {id : participant.id }) }}">{{ participant.username }}</a><br/>
    {% endfor %}

    <h1>Commentaires :</h1>

{% endblock %}