{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Évènement{% endblock %}

{% block body %}
    <h1>Évènement :</h1>
    {{ event.id }}
    {{ event.name }}
    {{ event.place }}
    {#{{ event.dateDebut|date("Y-m-d") }}#}
    {#{{ event.dateFin|date("Y-m-d") }}#}
    {{ event.description }}

    <h1>Créateur :</h1>
    <a href="{{ path("page_profil", {id : creator.id }) }}">{{ creator.username }}</a><br/>

    <h1>Participants :</h1>
    {% for participant in participants %}
        <a href="{{ path("page_profil", {id : participant.id }) }}">{{ participant.username }}</a><br/>
    {% endfor %}

    <h1>Commentaires :</h1>
    {% for comment in comments %}
        {{ comment.id }}
        <a href="{{ path("page_profil", {id : comment.postedBy.id }) }}">{{ comment.postedBy.username }}</a>
        {{ comment.date|date("Y-m-d") }}
        {{ comment.content }}
        {#{{ dump(comment) }}#}
        <hr/>
    {% endfor %}

    <h1>Labels :</h1>
    {% for label in labels %}
        <a href="{{ path("page_recherche_label", {label : label.id }) }}">{{ label.name }}</a>
        {#{{ dump(label) }}#}
        <br/>
    {% endfor %}

{% endblock %}