<ul>
    <a href="{{ path("page_accueil") }}">
        <li>Accueil</li>
    </a>

    <li>
        {% if is_granted('ROLE_ADMIN') %}
            Administrator
        {% elseif is_granted('ROLE_USER') %}
            User : {{ app.user.username }}
        {% else %}
            Anonymous
        {% endif %}
    </li>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path("page_ajout_evenement") }}">
            <li>Ajouter un évènement</li>
        </a>
        <a href="{{ path("page_profil", {username: app.user.username}) }}">
            <li>Voir profil</li>
        </a>
        <a href="{{ path("logout") }}">
            <li>Se déconnecter ({{ app.user.username }})</li>
        </a>
    {% else %}
        <a href="{{ path("inscription") }}">
            <li>
                Inscription
            </li>
        </a>
        <a href="{{ path("login") }}">
            <li>Se connecter</li>
        </a>
    {% endif %}
</ul>