<ul>
    <li>
        <a href="{{ path("page_accueil") }}">
            Accueil
        </a>
    </li>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li>
            <a href="{{ path("page_ajout_evenement") }}">
                Ajouter un évènement
            </a>
        </li>
        <li>
            <a href="{{ path("page_profil", {username: app.user.username}) }}">
                {% if app.user.image %}
                    <div class="avatar-wrap" style="height:24px;width:24px;overflow:hidden;display:inline-block;vertical-align:sub">
                        <img src="{{ asset('img/' ~ app.user.image) }}" height="24px" width="auto">
                    </div>
                {% endif %}
                Voir profil
            </a>
        </li>
        <li>
            <a href="{{ path("logout") }}">
                Se déconnecter ({{ app.user.username }})
            </a>

        </li>
    {% else %}
        <li>
            <a href="{{ path("inscription") }}">
                Inscription
            </a>
        </li>
        <li>
            <a href="{{ path("login") }}">
                Se connecter
            </a>
        </li>
    {% endif %}
</ul>