{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profil{% endblock %}

{% block body %}
    <h1>Profil :</h1>
    {{ user.id }}
    {{ user.username }}
    {#{{ user.password }}#}
    {{ user.firstname }}
    {{ user.lastname }}
    {{ user.email }}
    {{ user.role }}

    <h1>Évènements créés :</h1>
    {% for createdEvent in created %}
        <a href="{{ path("page_evenement", {id : createdEvent.id }) }}">{{ createdEvent.name }}</a><br/>
    {% endfor %}

    <h1>Participations :</h1>
    {% for event in events %}
        <a href="{{ path("page_evenement", {id : event.id }) }}">{{ event.name }}</a><br/>
    {% endfor %}

    <h1>Commentaires postés :</h1>
    {% for comment in comments %}
        {{ dump(comment) }}
        {#<a href="{{ path("page_evenement", {id : event.id }) }}">{{ event.name }}</a><br/>#}
    {% endfor %}
{% endblock %}