{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profil{% endblock %}

{% block body %}

    {% if user.image %}
        <img src="{{ asset('img/' ~ user.image) }}" height="100px" width="250px">
    {% endif %}

    <h1>Profil :</h1>
    {#{{ user.id }}#}
    Username : {{ user.username }}<br/>
    {#{{ user.password }}#}
    Nom : {{ user.firstname }} {{ user.lastname }}<br/>
    Mail : {{ user.email }}<br/>
    {% if (user.isAdmin()) %}
        Admin
    {% else %}
        User
    {% endif %}
    {#{{ user.picture }}#}


    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if user.isOwner(app.user) %}
            <a href="{{ path("edit_profil", {username : user.username }) }}"> modifier le profil </a>
        {% endif %}
    {% endif %}

    <h1>Évènements créés :</h1>
    {% for createdEvent in created %}
        {% if createdEvent.getDateFin > date() %}
            <a href="{{ path("page_evenement", {id : createdEvent.id }) }}">{{ createdEvent.name }}</a><br/>
        {% else %}
            passé : <a href="{{ path("page_evenement", {id : createdEvent.id }) }}">{{ createdEvent.name }}</a><br/>
        {% endif %}
    {% endfor %}


    <h1>Participations :</h1>
    {% for event in events %}
        {% if event.getDateFin > date() %}
            <a href="{{ path("page_evenement", {id : event.id }) }}">{{ event.name }}</a><br/>
        {% else %}
            passé : <a href="{{ path("page_evenement", {id : event.id }) }}">{{ event.name }}</a><br/>
        {% endif %}
    {% endfor %}

    <h1>Commentaires postés :</h1>
    {% for comment in comments %}
        {{ comment.id }}
        <a href="{{ path("page_evenement", {id : comment.event.id }) }}#{{ comment.id }}">{{ comment.event.name }}</a>
        {{ comment.date|date("Y-m-d") }}
        {{ comment.content }}
        {#{{ dump(comment) }}#}
        <hr/>
    {% endfor %}

{% endblock %}